/vendor-ol
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.ftpconfig

.idea/

# Windows
[Tt]humbs.db
ehthumbs.db

# Folder config files
[Dd]esktop.ini

# Mac osx
.DS_Store
.AppleDouble
.LSOverride
/vendor/
