/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.ftpconfig

.idea/

# Windows
[Tt]humbs.db
ehthumbs.db

# Folder config files
[Dd]esktop.ini

# Mac osx
.DS_Store
.AppleDouble
.LSOverride

# caddy webserver
Caddyfile
.php_cs.cache
_ide_helper.php
database-docker/
database/seeds/AccountSeeder.php
docker/database/
projectFilesBackup/
public/css/PDFstyle.css.map
public/css/animations.css.map
public/css/app.css.map
public/css/fonts.css.map
public/css/weekstaten.css.map
storage/debugbar/
public/js/app.js.map
storage/framework/*
v8-compile-cache-0/*