/**
 * This file (style.less) was created on 04/23/2016 at 16:39.
 * Author: Max Cassee
 * This project was commissioned by HU University of Applied Sciences.
 */
/* Print Specific CSS */
/* Colors */
/* Fonts */
@font-face {
  font-family: 'husansnormal';
  src: url('/assets/fonts/husans-normal-webfont.eot');
  src: url('/assets/fonts/husans-normal-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/husans-normal-webfont.woff') format('woff'), url('/assets/fonts/husans-normal-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'husansinline';
  src: url('/assets/fonts/husans-inline-webfont.eot');
  src: url('/assets/fonts/husans-inline-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/husans-inline-webfont.woff') format('woff'), url('/assets/fonts/husans-inline-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Element Sizes */
/* HU Colorscheme */
h1,
h2,
h3,
h4,
h5 {
  font-family: 'HusansNormal';
  text-transform: uppercase;
}
a {
  cursor: pointer;
}
#login-logo-container {
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
  background-image: url('/assets/img/hu-logo-large.png');
}
#menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.26);
  margin: 0;
  background: #ffffff;
  padding: 0;
  width: 100%;
}
@media screen {
  #menu-bar {
    height: 60px;
  }
}
@media handheld {
  #menu-bar {
    height: 40px;
  }
}
#menu-bar .stud-info-header {
  height: 40px;
  width: 260px;
  color: black;
  float: right;
  text-align: right;
  margin: 7px 10px 0 0;
  display: block;
}
#menu-bar a .logo {
  float: left;
  width: 66px;
  height: 60px;
  font-size: 36px;
  color: #00a1e2;
  text-decoration: none;
}
#menu-bar a span {
  font-family: HusansNormal, Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 26px;
  color: #00A1E2;
  float: left;
}
#menu-bar a .toggle {
  float: left;
  margin: 7px 0 0 10px;
}
#menu-bar a .langselect {
  float: right;
  width: 39px;
  height: 26px;
  margin: 15px 12px 0 0;
}
#menu-bar a .logout {
  float: right;
  margin: 13px 15px 0 0;
  width: 30px;
  height: 30px;
}
#wrapper {
  padding-left: 0;
  z-index: 0;
  margin-top: 60px;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 345px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 345px;
}
#wrapper.toggled #page-content-wrapper {
  margin-right: -345px;
}
#sidebar-wrapper {
  z-index: 1;
  background-color: white;
  position: fixed;
  left: 345px;
  width: 0;
  height: 100%;
  margin-left: -345px;
  overflow-y: auto;
  transition: all 0.5s ease;
}
#page-content-wrapper {
  position: absolute;
  width: 100%;
  padding: 15px 15px calc(65px) 15px;
}
/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  background-color: white;
  top: 0;
  margin-top: 10px;
  width: 345px;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
a.nav-tile {
  display: block;
  text-decoration: none;
}
a.nav-tile:hover,
a.nav-tile:active,
a.nav-tile:focus {
  text-decoration: none;
}
.footer-tile {
  padding: 3px 5px;
  text-align: center;
  font-size: 1rem;
  width: 320px;
  margin: 10px 5px;
  float: left;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.tile {
  width: 100px;
  height: 100px;
  margin: 10px 5px;
  float: left;
  border-radius: 4px;
  transition: 0.3s all ease-in-out;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
}
.tile:hover {
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.3);
  transition: 0.3s all ease-in-out;
}
.tile img.icon {
  width: 50px;
  height: 50px;
  margin: 15px 25px 10px 25px;
}
.tile div.nav-title {
  position: relative;
  line-height: 15px;
  color: #ffffff;
  background: #e72e2a;
  padding: 3px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
.blue_tile {
  background-color: #00A1E2;
}
.white_tile {
  background-color: #ffffff;
}
.red_tile {
  background-color: #e72e2a;
}
#footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  box-shadow: 0px -2px 15px #888888;
  background: #ffffff;
  border-top: 1px solid #CFCFCF;
  text-align: center;
}
#footer p {
  margin-top: 10px;
}
.dash-bar {
  display: flex;
  min-width: 855px;
  width: 40%;
  min-height: 40px;
  margin: 2px 0;
  color: #ffffff;
}
.dash-bar b {
  padding: 10px;
}
.dash-date {
  align-items: stretch;
  float: left;
  min-width: 160px;
  padding: 10px;
  background: #e72e2a;
}
.dash-description {
  align-items: stretch;
  background: #00A1E2;
  min-width: 575px;
  padding: 10px;
}
.dash-hours {
  align-items: stretch;
  min-width: 120px;
  float: right;
  background: #00A1E2;
}
.dash-hours b {
  position: absolute;
}
.alert {
  color: #555;
  font-size: 13px;
  border-radius: 10px;
  padding: 10px 10px 10px 36px;
  margin: 10px;
}
.alert span {
  font-weight: bold;
  text-transform: uppercase;
}
.alert-error {
  background: #ffecec url('/assets/img/error.png') no-repeat 10px 50%;
  border: 1px solid #f5aca6;
}
.alert-success {
  background: #e9ffd9 url('/assets/img/success.png') no-repeat 10px 50%;
  border: 1px solid #a6ca8a;
}
.alert-warn {
  background: #fff8c4 url('/assets/img/warning.png') no-repeat 10px 50%;
  border: 1px solid #f2c779;
}
.alert-notice {
  background: #e3f7fc url('/assets/img/notice.png') no-repeat 10px 50%;
  border: 1px solid #8ed9f6;
}
.report-success {
  border: 3px solid #6aea7a !important;
}
.report-success span {
  background: #6aea7a !important;
}
.blockTable thead {
  color: #ffffff;
  font-weight: bold;
}
.blockTable tbody {
  color: black;
}
.blockTable tbody tr.even-row {
  background: #EEEEEE;
}
.blockTable tbody tr.odd-row {
  background: #ffffff;
}
.blockTable tbody tr.highlight {
  background: #6aea7a;
}
.table-icon {
  width: 25px;
}
.buttons label {
  margin: 5px;
  cursor: pointer;
}
.buttons label span {
  display: block;
  width: 150px;
  max-width: 100%;
  border-radius: 4px;
  color: #ffffff;
  background-color: #00A1E2;
  font-size: 12px;
  padding: 8px;
  text-align: center;
  transition: 300ms all ease-in-out;
  word-break: break-word;
}
.buttons label span.new {
  background-color: #6aea7a;
  transition: 300ms all ease-in-out;
}
.buttons input,
.buttons select {
  max-width: 100%;
}
.buttons input:checked + span {
  transition: 350ms all ease-in-out;
  background-color: #e72e2a;
}
.buttons input[type="radio"] {
  visibility: hidden;
  display: none;
}
.numpad {
  max-width: 200px;
}
.numpad label span {
  width: 40px;
  max-width: 100px;
}
.numpad label span em {
  font-style: normal;
  display: block;
  font-size: 0.85rem;
}
.numpad .custom {
  width: 100%;
}
.numpad .custom #hours_custom {
  width: 100%;
}
.numpad .custom label span {
  width: 100%;
  max-width: 100%;
}
.fit-bs {
  max-width: 85%;
}
.progress {
  margin: 8px 0 0 0;
}
@media only screen and (max-width: 768px) {
  .dash-date {
    display: none;
  }
  #menu-bar .stud-info-header {
    display: none;
  }
  #menu-bar a span {
    display: none;
  }
  #menu-bar a .logout {
    float: right;
    margin: 18px 7px 0 0;
    width: 23px;
    height: 23px;
  }
}
@media only screen and (min-width: 768px) {
  #menu-bar .stud-info-header {
    display: block;
  }
  #menu-bar a img.toggle {
    display: none;
  }
  #wrapper {
    padding-left: 345px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 345px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    position: relative;
    padding: 15px 15px calc(65px) 15px;
  }
  #wrapper.toggled #page-content-wrapper {
    margin-right: 0;
  }
}
.activityExport td i {
  color: #00A1E2;
  cursor: pointer;
}
.dropzone {
  width: 100%;
  height: 75px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* now centers things in X,Y axis */
  align-items: center;
  justify-content: center;
  border: 2px dashed #666666;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.5s;
}
.dropzone:hover {
  background-color: #00A1E2;
  color: white;
  transition: all 0.5s;
}
.defaultButton {
  display: block;
  width: 100%;
  min-height: 34px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #00A1E2;
  font-size: 14px;
  padding: 9px;
  text-align: center;
  cursor: pointer;
}
.defaultButton:hover {
  background-color: #e72e2a;
  transition: 300ms all ease-in-out;
  color: white;
}
.defaultButton.red {
  background-color: #e72e2a;
}
.defaultButton.red:hover {
  background-color: #9a1411;
}
.defaultButton.yellow {
  background-color: #ffb500;
}
.defaultButton.yellow:hover {
  background-color: #996d00;
}
.defaultButton.list {
  margin-top: 15px;
  margin-bottom: 15px;
}
.defaultButton.fill {
  width: 100%;
}
.defaultButton.add {
  background-color: #6aea7a;
}
.defaultButton.add:hover {
  background-color: #1dd134;
}
.defaultButton.inline {
  display: inline;
  margin: 10px 10px;
}
.fill {
  width: 100%;
}
.buttonListItem {
  margin: 15px 0px 0px 0px;
  transition: all 0.5s;
}
.buttonListItem .defaultButton {
  width: 100%;
}
.buttonListItem.expand {
  margin: 15px 10px 15px 25px;
  transition: all 0.5s;
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
.fab {
  width: 56px;
}
.fab #actionImage.state-add {
  transition: transform 600ms ease-in-out;
  transform: rotate(0deg);
}
.fab:hover #actionImage.state-add {
  transition: transform 300ms ease-in-out;
  transform: rotate(225deg);
}
.fab:hover .fab-buttons,
.fab:active .fab-buttons {
  opacity: 1;
  visibility: visible;
}
.fab:hover .fab-buttons__link,
.fab:active .fab-buttons__link {
  transform: scaleY(1) scaleX(1) translateY(16px) translateX(0px);
}
.fab-action-button:hover + .fab-buttons .fab-buttons__link:before,
.fab-action-button:active + .fab-buttons .fab-buttons__link:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
  transition-delay: 0.3s;
}
.fab-action-button {
  display: block;
  cursor: pointer;
  width: 56px;
  height: 56px;
  background-color: #00A1E2;
  transition: background-color 300ms ease-in-out;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.fab-action-button:hover {
  transition: background-color 300ms ease-in-out;
  background-color: #30c3ff;
}
.fab-buttons {
  position: absolute;
  width: 56px;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  z-index: 999;
}
.fab-action-button__icon {
  display: inline-block;
  width: 56px;
  height: 56px;
  text-align: center;
}
.fab-action-button__icon img {
  display: inline-block;
  margin-top: 13px;
  width: 30px;
  height: 30px;
}
.fab-buttons__item {
  display: block;
  text-align: center;
  margin: 12px 0;
}
.fab-buttons__link {
  display: inline-block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: #757575;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px);
  transition: .3s;
}
.fab-buttons__link img {
  display: inline-block;
  margin-top: 5px;
  width: 30px;
  height: 30px;
}
[data-tooltip]:before {
  top: 50%;
  margin-top: -11px;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  text-decoration: none;
  visibility: hidden;
  opacity: 0;
  padding: 4px 7px;
  margin-left: 12px;
  position: absolute;
  transform: scale(0);
  left: 100%;
  white-space: nowrap;
  transform-origin: top left;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
[data-tooltip]:hover:before,
[data-tooltip]:active:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: left center 0;
}
.icon-material {
  display: inline-block;
  width: 40px;
  height: 40px;
}
div[class*=' styles_modalCenter'].panel {
  margin: auto;
}
.wrap {
  width: auto;
  height: auto;
  min-height: auto;
  max-height: 160px;
  overflow: auto;
}
.crop {
  overflow: hidden;
  display: inline-flex;
  padding: 0 2px;
}
#competence-select {
  border: none;
  margin-right: -20px;
  width: auto;
}
#competence-select:focus {
  outline: none;
}
.custom-alert {
  background-color: #d7ebff;
  margin-left: 0;
  color: #004085;
  border-radius: 0 5px 5px 0;
  border-left: 2px solid #00a1e2;
}
.card-header {
  font-size: 16px;
  padding: .75rem 1.75rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-title,
.card-text {
  margin: 0;
}
.card-body {
  padding: 1.25rem 1.75rem;
}
.section {
  padding: 0 1.75rem;
}
.no-padding {
  padding: 0;
}
.flex-cnt-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Dropdown Button */
.dropbtn {
  background-color: #337AB7;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #337AB7;
}
/* The search field */
#dropdownInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 16px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 100%;
}
/* The search field when it gets focus/clicked on */
#dropdownInput:focus {
  outline: 3px solid #ddd;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  width: 100%;
}
/* Links inside the dropdown */
.dropdown-content a {
  display: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
#selectWPLP {
  font-size: 16px;
}
#upload-btn {
  float: right;
}
#teacher-overview {
  display: inline;
}
#teacher-overview .students-panel {
  width: 96%;
  margin: 0 auto 10px;
  float: none;
}
#teacher-overview .nomargin {
  margin: 0 !important;
}
#teacher-overview .sidebar-title {
  margin: 15px 0 0 5px;
  font-size: 14px;
  color: grey;
  text-transform: uppercase;
}
#teacher-overview .custom-hr {
  border-bottom: 1px solid #ddd;
}
.sidebar-title {
  margin: 15px 0 0 5px;
  font-size: 14px;
  color: grey;
  text-transform: uppercase;
}
.custom-hr {
  border-bottom: 1px solid #ddd;
}
.right {
  float: right;
}
.save_tip_icon {
  width: 24px;
}
.btn-collapse {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  width: 100%;
  background-color: white;
  text-align: left;
}
.maps {
  display: inline;
}
.add-collapse {
  font-size: 28px;
  float: right;
}
.add-tip {
  font-size: 16px;
  float: right;
}
.delete-tip-from-folder {
  font-size: 16px;
  float: right;
  color: #23527C;
  background-color: transparent;
  border: none;
}
.tip-title {
  display: inline;
}
#sli_id {
  display: none;
}
#folder-null {
  display: none;
}
#shareFolder {
  float: right;
  width: 15%;
  font-size: 12px;
  margin: 2px;
}
.folder-info {
  margin: 10px 0;
}
.folder_comment {
  width: 100%;
  margin: 2px;
}
.folder_id {
  display: none;
}
.panel-group {
  margin-top: 10px;
}
.comment-date {
  float: right;
}
.folder-status {
  float: right;
  font-weight: normal;
}
.sub-title-light {
  display: inline;
  color: #929292;
  font-size: 12px;
  font-weight: 600;
}
.bullet {
  display: inline;
  color: #929292;
  margin: 0 3px;
}
.comment-author {
  color: rgba(41, 41, 41, 0.8);
  font-size: 14px;
  font-weight: bold;
}
.comment {
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.54);
  padding: 1.25rem 1.75rem;
  border-radius: 5px;
}
.teacher-comment {
  background-color: #d5e6f6;
}
.student-comment {
  background-color: #fcfcfc;
  border: 1px solid #ededed;
}
.teacher {
  color: #1976d2;
}
.user-icon {
  font-size: 100px;
}
.calendar-icon {
  font-size: 30px;
}
.label-information {
  color: #CFCFCF;
}
.comment-section {
  overflow-y: scroll;
  max-height: 300px;
}
