/**
 * This file (style.less) was created on 04/23/2016 at 16:39.
 * Author: Max Cassee
 * This project was commissioned by HU University of Applied Sciences.
 */
/* Print Specific CSS */
/* Colors */
/* Fonts */
@font-face {
  font-family: 'husansnormal';
  src: url('/assets/fonts/husans-normal-webfont.eot');
  src: url('/assets/fonts/husans-normal-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/husans-normal-webfont.woff') format('woff'), url('/assets/fonts/husans-normal-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'husansinline';
  src: url('/assets/fonts/husans-inline-webfont.eot');
  src: url('/assets/fonts/husans-inline-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/husans-inline-webfont.woff') format('woff'), url('/assets/fonts/husans-inline-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Element Sizes */
/* HU Colorscheme */
h1,
h2,
h3,
h4,
h5 {
  font-family: 'HusansNormal';
  text-transform: uppercase;
}
a {
  cursor: pointer;
}
#login-logo-container {
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
  background-image: url('/assets/img/hu-logo-large.png');
}
#menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0px -2px 15px #888888;
  margin: 0;
  background: #ffffff;
  border-bottom: 1px solid #CFCFCF;
  padding: 0;
  width: 100%;
}
@media screen {
  #menu-bar {
    height: 60px;
  }
}
@media handheld {
  #menu-bar {
    height: 40px;
  }
}
#menu-bar .stud-info-header {
  height: 40px;
  width: 260px;
  color: black;
  float: right;
  text-align: right;
  margin: 7px 10px 0 0;
  display: block;
}
#menu-bar a .logo {
  float: left;
  width: 66px;
  height: 60px;
  font-size: 36px;
  color: #00a1e2;
  text-decoration: none;
}
#menu-bar a span {
  font-family: HusansNormal, Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 26px;
  color: #00A1E2;
  float: left;
}
#menu-bar a .toggle {
  float: left;
  margin: 7px 0 0 10px;
}
#menu-bar a .langselect {
  float: right;
  width: 39px;
  height: 26px;
  margin: 15px 12px 0 0;
}
#menu-bar a .logout {
  float: right;
  margin: 13px 15px 0 0;
  width: 30px;
  height: 30px;
}
#wrapper {
  padding-left: 0;
  z-index: 0;
  margin-top: 60px;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 330px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 330px;
}
#wrapper.toggled #page-content-wrapper {
  margin-right: -330px;
}
#sidebar-wrapper {
  z-index: 1;
  position: fixed;
  left: 330px;
  width: 0;
  height: 100%;
  margin-left: -330px;
  overflow-y: auto;
  background: #E2E2E2;
  transition: all 0.5s ease;
}
#page-content-wrapper {
  position: absolute;
  width: 100%;
  padding: 15px 15px calc(65px) 15px;
}
/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  margin-top: 10px;
  width: 330px;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
a.nav-tile {
  display: block;
  text-decoration: none;
}
a.nav-tile:hover,
a.nav-tile:active,
a.nav-tile:focus {
  text-decoration: none;
}
.tile {
  width: 100px;
  height: 100px;
  margin: 5px;
  float: left;
}
.tile img.icon {
  width: 50px;
  height: 50px;
  margin: 15px 25px 10px 25px;
}
.tile div.nav-title {
  position: relative;
  line-height: 15px;
  color: #ffffff;
  background: #e72e2a;
  padding: 3px 5px;
}
.blue_tile {
  background-color: #00A1E2;
}
.white_tile {
  background-color: #ffffff;
}
.red_tile {
  background-color: #e72e2a;
}
#footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  box-shadow: 0px -2px 15px #888888;
  background: #ffffff;
  border-top: 1px solid #CFCFCF;
  text-align: center;
}
#footer p {
  margin-top: 10px;
}
.dash-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 855px;
  width: 40%;
  min-height: 40px;
  margin: 2px 0;
  color: #ffffff;
}
.dash-bar b {
  padding: 10px;
}
.dash-date {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  float: left;
  min-width: 160px;
  padding: 10px;
  background: #e72e2a;
}
.dash-description {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: #00A1E2;
  min-width: 575px;
  padding: 10px;
}
.dash-hours {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-width: 120px;
  float: right;
  background: #00A1E2;
}
.dash-hours b {
  position: absolute;
}
.alert {
  color: #555;
  font-size: 13px;
  border-radius: 10px;
  padding: 10px 10px 10px 36px;
  margin: 10px;
}
.alert span {
  font-weight: bold;
  text-transform: uppercase;
}
.alert-error {
  background: #ffecec url('/assets/img/error.png') no-repeat 10px 50%;
  border: 1px solid #f5aca6;
}
.alert-success {
  background: #e9ffd9 url('/assets/img/success.png') no-repeat 10px 50%;
  border: 1px solid #a6ca8a;
}
.alert-warn {
  background: #fff8c4 url('/assets/img/warning.png') no-repeat 10px 50%;
  border: 1px solid #f2c779;
}
.alert-notice {
  background: #e3f7fc url('/assets/img/notice.png') no-repeat 10px 50%;
  border: 1px solid #8ed9f6;
}
.report-success {
  border: 3px solid #6aea7a !important;
}
.report-success span {
  background: #6aea7a !important;
}
.blockTable thead {
  color: #ffffff;
  font-weight: bold;
}
.blockTable tbody {
  color: black;
}
.blockTable tbody tr.even-row {
  background: #EEEEEE;
}
.blockTable tbody tr.odd-row {
  background: #ffffff;
}
.blockTable tbody tr.highlight {
  background: #6aea7a;
}
.table-icon {
  width: 25px;
}
#taskForm {
  display: block;
  overflow: auto;
}
.buttons {
  min-width: 200px;
}
.buttons label {
  float: left;
  margin: 5px;
  cursor: pointer;
}
.buttons label span {
  display: block;
  width: 150px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #00A1E2;
  font-size: 12px;
  padding: 8px;
  text-align: center;
}
.buttons label span.new {
  background-color: #6aea7a;
}
.buttons input:checked + span {
  background-color: #e72e2a;
}
.buttons input[type="radio"] {
  visibility: hidden;
  display: none;
}
.numpad {
  max-width: 200px;
}
.numpad label span {
  width: 40px !important;
}
.fit-bs {
  max-width: 85%;
}
.progress {
  margin: 8px 0 0 0;
}
@media only screen and (max-width: 768px) {
  .dash-date {
    display: none;
  }
  #menu-bar .stud-info-header {
    display: none;
  }
  #menu-bar a span {
    display: none;
  }
  #menu-bar a .logout {
    float: right;
    margin: 18px 7px 0 0;
    width: 23px;
    height: 23px;
  }
}
@media only screen and (min-width: 768px) {
  #menu-bar .stud-info-header {
    display: block;
  }
  #menu-bar a img.toggle {
    display: none;
  }
  #wrapper {
    padding-left: 330px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 330px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    position: relative;
    padding: 15px 15px calc(65px) 15px;
  }
  #wrapper.toggled #page-content-wrapper {
    margin-right: 0;
  }
}
.dropzone {
  width: 100%;
  height: 75px;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* now centers things in X,Y axis */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px dashed #666666;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.5s;
}
.dropzone:hover {
  background-color: #00A1E2;
  color: white;
  transition: all 0.5s;
}
.defaultButton {
  display: block;
  width: 100%;
  min-height: 34px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #00A1E2;
  font-size: 14px;
  padding: 9px;
  text-align: center;
  cursor: pointer;
}
.defaultButton:hover {
  background-color: #e72e2a;
  color: white;
}
.defaultButton.red {
  background-color: #e72e2a;
}
.defaultButton.red:hover {
  background-color: #9a1411;
}
.defaultButton.list {
  margin-top: 15px;
  margin-bottom: 15px;
}
.defaultButton.fill {
  width: 100%;
}
.defaultButton.add {
  background-color: #6aea7a;
}
.defaultButton.add:hover {
  background-color: #1dd134;
}
.defaultButton.inline {
  display: inline;
  margin: 10px 10px;
}
.buttonListItem {
  margin: 15px 0px 0px 0px;
  transition: all 0.5s;
}
.buttonListItem .defaultButton {
  width: 100%;
}
.buttonListItem.expand {
  margin: 15px 10px 15px 25px;
  transition: all 0.5s;
}
